:root {
  /*content background */
  --main-bg: #f1eeec;
  /* about me bg */
  --accent-bg: white;
  /* content text, buttons, nav hover */
  --first: #4a4ccc;
  /* icons */
  --second: black;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Outfit", sans-serif;
  --nav-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--first);
}

/* NAVIGATION */
nav {
  font-family: var(--nav-font);
  text-transform: uppercase;
  border-bottom: 3.5px solid black;
  transition: all 275ms ease;
}

nav a:hover {
  background-image: linear-gradient(var(--first), var(--first));
  background-size: 100% 40%;
  background-position: center bottom 2%;
  background-repeat: no-repeat;
  display: inline-block;
  filter: brightness(200%);
}

/* WEBCAM */
#laptop,
#webcam,
#window {
  height: 400px;
  width: 500px;
}

#webcam {
  padding: 0;
  filter: saturate(2);
  clip-path: polygon(16% 0%, 79% 0%, 85% 55%, 85% 52%, 73% 75%, 15% 90%);
}

#laptop {
  transform: skew(-14deg, 10deg);
}

/* ICONS */
i {
  font-size: 50px;
  align-items: center;
}

.tech-icon {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

i:hover {
  color: var(--first) !important;
}
