body {
background-color: rgb(148, 156, 134);
  font-family: serif;
}

header {
  margin: auto;
  width: 50%;
  padding: 200px;
  text-align: center;
}

header h1 {
    font-size: 60px;
    color: rgb(188, 209, 155);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

/* Link Stylings */
a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}