body {
background-color: rgb(148, 156, 134);
  font-family: serif;
}

.landing-page {
  margin: auto;
  width: 40%;
  padding: 200px;
}

.landing-page h1 {
    font-size: 60px;
    color: rgb(188, 209, 155);
}