:root {
  --main-bg-color: rgb(148, 156, 134);
  --header-color: rgb(188, 209, 155);
  --link-color: white;
  --link-hover-color: black;
}
body {
background-color: var(--main-bg-color);
  font-family: "Helvetica Neue","Noto Sans ";
}

header {
  margin: auto;
  width: 50%;
  padding: 200px;
  text-align: center;
}

header h1 {
    font-size: 60px;
    color: var(--header-color);
    font-family: "Yuji Syuku", serif;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  font-family: "Poppins", serif;
}

/* Link Stylings */
a:link, a:visited {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}