/* landing page */
#landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background: var(--main-bg-color);
}

p {
  text-align: center;
}

#webcam {
  width: 95vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#webcam-title p {
  text-align: center;
  font-style: italic;
  color: var(--main-text);
}
