/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .navbar {
    display: none;
  }
  #intro {
    display: none;
  }
  #webcam-title {
    display: none;
  }
  #landing-page {
    height: fit-content;
  }
  #landing-page h1 {
    position: inherit;
    font-size: 60px;
  }
  #about-article {
    padding-left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
  }
  #about {
    padding: 35px;
  }
  #about-article svg {
    display: none;
  }
/* contact card */
  #about-article .card {
    max-width: 50vw;
    margin: 20px;
  }

  #bio {
    width: 100%;
    margin: 0px;
  }
  #skills {
    display: none;
  }
  #portfolio {
    padding: 35px;
  }
  #portfolio .col {
    width: 60vw;
  }
  #portfolio .row {
    justify-content: center;
  }
  #portfolio .card-footer {
    padding: 1px;
  }
}
