/* #nav-container {
  display: flex;
  align-items: center;
} */

nav {
  background: white;
  padding: 10px;
  height: fit-content;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

#intro h1 {
  font-size: 45px;
  font-family: var(--header-font);
  color: var(--link);
}

#intro {
  font-size: 25px;
  width: 300px;
  height: fit-content;
  position: absolute;
  background: var(--main-bg);
  border-radius: 0.25rem;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  right: 40;
  padding: 5px;
  top: 100;
  z-index: 1;
}

#webcam-title p {
  font-style: italic;
  color: var(--main-text);
  font-size: 12px;
}
#inside {
  display: inline-flex;
  position: absolute;
}

#wall {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#window {
  height: 100vh;
}

/* scrolling */
html {
  scroll-behavior: smooth;
}
