/* Variables */
:root {
  /*content background */
  --main-bg-color: #242627;
  /* button and nav background */
  --header-bg: #2f3132;
  /* content text */
  --main-text: #a4a09b;
  /* button text, footer and content headers, link hover */
  --section-header: white;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Raleway", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  color: var(--main-text);
}

p {
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

a:hover,
li:hover {
  color: var(--section-header);
}

/* landing page */
#landing-page {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-page-text {
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin: 10px;
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  padding: 5px;
  width: 450px;
}

#landing-page-text h1 {
  font-size: 45px;
  font-family: var(--header-font);
  color: var(--section-header);
}

#landing-page-test p {
  font-size: 30px;
}

#webcam-title p {
  font-style: italic;
  color: var(--main-text);
  font-size: 12px;
}

/* main content */
#content-container {
  display: flex;
  flex-direction: column;
}

#content {
  padding: 30px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

h2 {
  font-size: 25px;
  font-family: var(--header-font);
  color: var(--section-header);
  text-align: center;
}

/* Flex Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 1;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  flex-grow: 1;
  padding: 5px;
  height: fit-content;
  min-width: 250px;
}

.card:nth-child(1) {
  flex: 2;
}

.card img {
  width: 100%;
}

.card h3 {
  padding: 10px 0 10px 0;
  color: var(--section-header);
  text-transform: uppercase;
  font-style: none;
}

.card p {
  padding: 0 0 10px;
}

.card .text {
  padding: 0 5px 5px;
}

/* hover demo */
/* Chew View */
#chew-view img:last-child {
  display: none;
}

#chew-view:hover img:last-child {
  display: flex;
}

#chew-view:hover img:first-child {
  display: none;
}

/* Work Day Scheduler */
#work-day-scheduler img:last-child {
  display: none;
}

#work-day-scheduler:hover img:last-child {
  display: flex;
}

#work-day-scheduler:hover img:first-child {
  display: none;
}

/* buttons */
input {
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all 0.3s;
}

input:hover {
  letter-spacing: 2px;
}

/* Contact Section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contact-content {
  margin: 10px;
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  padding: 5px;
  width: fit-content;
}

/* About Me */
#headshot {
  width: 200px;
  height: auto;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  border-radius: 50%;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#bio {
  padding-left: 20px;
  width: 40vw;
}

/* Footer */
footer {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: var(--section-header);
}
