:root {
  /*content background */
  --main-bg: #edeae2;
  /* about me bg */
  --accent-bg: white;
  /* content text */
  --main-text: black;
  /* card titles, footer, "Let's Connect" */
  --accent-text: #1ea896;
  /* link hover, intro */
  --link: black;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Megrim", cursive;
  --nav-font: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--main-text);
}

a {
  text-decoration: none;
  color: var(--main-text);
}

a:hover {
  color: var(--link);
}

li {
  list-style: none;
}

/* LANDING PAGE */
.bg-light {
  background-color: rgba(var(--bs-light-rgb), 0.9) !important;
}

#landing-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column-reverse;
}

#intro {
  z-index: 3;
  background: transparent;
  border: none;
  line-height: 0;
  height: 100vh;
}

#landing-page h1 {
  font-family: var(--header-font);
  color: var(--link);
  font-size: 85px;
}

nav {
  font-family: var(--nav-font);
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 3.5px solid black;
}

/* WEBCAM */
#webcam {
  filter: saturate(3);
  height: 100%;
  width: 100%;
  opacity: 0.7;
  clip-path: path(
    "M 12.7 -18.3 m 975.6 230 c -4.2 -46.3 -34.5 -87.2 -72.6 -113.9 s -83.3 -41 -128.3 -52.5 c -129.3 -32.9 -263.8 -45.3 -397 -36.6 c -83.7 1 -99.8 12.4 -181.6 30 c -49.7 10.6 -101.2 25.7 -136.6 62.1 c -72.2 74.3 -40.7 207.8 39.5 273.3 s 190.4 78.7 294 80 c 125.4 1.6 251.5 -10.6 372.9 -42.3 c 51 -13.3 102.3 -30.7 143.5 -63.5 c 41.1 -32.9 70.9 -84.1 66.2 -136.6 Z"
  );
}

#webcam-title p {
  font-style: italic;
  font-size: 12px;
  line-height: 1;
  width: fit-content;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
}

/* ABOUT */
#headshot {
  width: 20%;
  height: 20%;
  box-shadow: 0px 6px 40px -14px rgb(0 0 0 / 25%);
  border-radius: 50%;
}

#about {
  display: flex;
  padding: 40px;
  background-color: var(--accent-bg);
}

#bio {
  padding-left: 20px;
}

/* SKILLS AND TOOLS */
#skills {
  padding: 40px;
}

#languages {
  display: flex;
  justify-content: center;
}

#languages .card {
  width: fit-content;
  background: transparent;
  padding: 25px;
  align-items: center;
  border: none;
}

#languages i {
  color: white;
}

/* PORTFOLIO */
#portfolio {
  padding: 40px;
}

#portfolio .card {
  justify-content: flex-end;
}

#portfolio .card-body {
  flex: 0;
}

/* CONTACT */
#contact {
  width: 30vw;
}
