/* variables */
:root {
  /*content background */
  --main-bg: #e9e3e6;
  /* about me bg */
  --accent-bg: white;
  /* content text */
  --main-text: black;
  /* card titles, footer, "Let's Connect" */
  --accent-text: #1ea896;
  /* link hover, languages (need to be changed in script.js), intro */
  --link: #ff715b;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Raleway", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--main-text);
}

a {
  text-decoration: none;
  color: var(--main-text);
}

a:hover {
  color: var(--link);
}

/* only used in about me section*/
h2 {
  font-size: 25px;
  font-family: var(--header-font);
  color: var(--accent-text);
  text-align: center;
}

h4 {
  font-weight: 200;
}

/* Footer */
footer {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: var(--accent-text);
}

/* main content */
#content-container {
  display: flex;
  flex-direction: column;
}

#content {
  padding: 30px;
}

/* media queries */
@media (max-width: 700px) {
  #defaultCanvas0 {
    display: none;
  }
  #webcam-title {
    display: none;
  }
  #intro {
    width: 100vw;
    right: 0;
    top: 50;
  }
  /* about section */
  #about {
    display: block;
    padding-top: 200px;
  }
  #headshot {
    width: 200px;
  }
}