* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

/* Variables */
:root {
  --main-bg-color: rgb(100, 102, 98);
  --header-color: rgb(255, 255, 255);
  --link-color: rgb(162, 172, 165);
  --link-hover-color: white;
}

/* Hero */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

header h1 {
  text-align: center;
  font-size: 60px;
  color: var(--header-color);
  font-family: "Yuji Syuku", serif;
}

header nav {
  display: inline-flex;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", serif;
}

/* Header Link Style & Hover */

header a:link,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover {
  color: var(--link-hover-color);
}

#hero-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

header a:hover ~ #hero-bg {
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#about-me:hover ~ #hero-bg {
  background-image: url(images/cooper.jpg);
  background-position: center;
}

#about-me:hover ~ a {
  color: white;
}

#about-me:hover {
  text-shadow: 1px 1px black;
}

#program:hover ~ #hero-bg {
  background-image: url(images/star-trek.png);
  position: top;
}

#program:hover {
  color: #04fc04;
}

#conservation:hover ~ #hero-bg {
  background-image: url(images/conservation-bg-resized.jpg);
  background-position: right;
}

#conservation:hover {
  color: #cf872b;
}

#design:hover ~ #hero-bg {
  background-image: url(images/design.png);
  background-size: contain;
  background-position: left;
  background-color: #a0807b;
}

#design:hover {
  color: #2a2120;
}

/* Media Queries */

@media screen and (max-width: 980px) {
  header nav {
    flex-wrap: wrap;
  }
}
