* {
  margin: 0px;
  padding: 0px;
  width: vw;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Helvetica Neue", "Noto Sans ";
}

ul {
  list-style: none;
}

/* Variables */
:root {
  --main-bg-color: #f3f7f0; /* Mint Cream */
  --header-bg: #454545; /* Onyx */
  --header-color: white;
  --main-text: #001524; /* Green Munsell */
  --section-header: #04a777;
  --title-font: "Yuji Syuku", serif;
  --header-font: "Poppins", serif;
}

/* Header */
header {
  display: block;
  top: 0;
  height: auto;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--header-bg);
  z-index: 9999;
  padding-left: 20px;
  padding-bottom: 10px;
}

header a:link,
a:visited {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 20px;
  font-family: var(--header-font);
  justify-content: space-between;
  width: 60vw;
}

header h1 {
  font-size: 60px;
  color: var(--header-color);
  font-family: var(--title-font);
}

header a:hover {
  color: var(--section-header);
}
/* Section Headers */

.section-content {
  display: flex;
  flex-wrap: wrap;
}

/* Main Content */
.main-content {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 20px;
}

.main-content h2 {
  color: var(--section-header);
  font-family: var(--header-font);
  font-weight: bold;
}

article {
  padding: 20px;
  scroll-margin-top: 20vh;
}

/* Placeholder Images */
img[alt="placeholder image"] {
  max-width: 30%;
}

/* Image hover */
#headshot {
  opacity: 100%
}

.main-content img {
  opacity: 50%;
}

.main-content img:hover {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 50%;
  }
  to {
    opacity: 1;
  }
}

/* Flex Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  flex-grow: 1;
} 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: var(--section-header);
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }

/* About Me */
#headshot {
  max-width: 30%;
  height: auto;
  border-radius: 30px;
}

/* Design Section */
.design-content {
  float: right;
}

.conservation-content {
  justify-content: flex-end;
}

/* Contact Section */
.links a{
  color:var(--section-header);
}

/* Footer */
footer {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: var(--section-header);
  font-family: var(--header-font);
}
