* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Helvetica Neue", "Noto Sans ";
}

/* Variables */
:root {
  --main-bg-color: rgb(148, 156, 134);
  --header-color: rgb(188, 209, 155);
  --link-color: rgb(95, 93, 93);
  --link-hover-color: white;
}

/* Hero */
header {
  display: inline-flex;
  flex-wrap: wrap;
  height:20vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
}

header h1 {
  font-size: 60px;
  color: var(--header-color);
  font-family: "Yuji Syuku", serif;
}

header nav {
  text-align: right;
  padding-right: 30px;
  font-size: 20px;
  font-family: "Poppins", serif;
}

/* Header Link Style & Hover */

header a:link,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover {
  color: var(--link-hover-color);
}

#hero-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

header a:hover ~ #hero-bg {
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in { 
  from { opacity: 0; }
  to { opacity: 1; }
}

#program:hover ~ #hero-bg {
  background-image: url(program-bg-temp.jpg);
}

#conservation:hover ~ #hero-bg {
  background-image: url(conservation-bg-temp.jpg);
}

#design:hover ~ #hero-bg {
  background-image: url(design-bg-resized.png);
}
