:root {
  /*content background */
  --main-bg: #f1eeec;
  /* about me bg */
  --accent-bg: white;
  /* content text, buttons */
  --first: #4a4ccc;
  /* intro, headers, icons */
  --second: black;
  /* hovers, box-shadow, contact header, icons, webcam title */
  --third: #8dd7ff;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Outfit", sans-serif;
  --nav-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--first);
}

/*BOOTSTRAP EDITS*/
.bg-light {
  --bs-bg-opacity: 0.9;
  background-color: var(--main-bg);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* NAVIGATION */
nav {
  font-family: var(--nav-font);
  text-transform: uppercase;
  border-bottom: 3.5px solid black;
  transition: all 275ms ease;
}

nav a:hover {
  background-image: linear-gradient(var(--third), var(--third));
  background-size: 100% 40%;
  background-position: center bottom 2%;
  background-repeat: no-repeat;
  display: inline-block;
}

/* ICONS */
i {
  color: var(--third);
  font-size: 50px;
}
