:root {
  /*content background */
  --main-bg: #f1eeec;
  /* about me bg */
  --accent-bg: white;
  /* content text, buttons */
  --first: #4a4ccc;
  /* intro, headers, icons */
  --second: black;
  /* hovers, box-shadow, contact header, icons, webcam title */
  --third: #8dd7ff;
  /* fonts */
  --main-font: "Open Sans", sans-serif;
  --header-font: "Outfit", sans-serif;
  --nav-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--first);
}

a {
  text-decoration: none;
  color: var(--first);
}

a:hover {
  color: var(--third);
}

li {
  list-style: none;
}

h3 {
  color: var(--second);
  font-family: var(--header-font);
}

/*BOOTSTRAP EDITS*/
.bg-light {
  --bs-bg-opacity: 0.9;
  background-color: var(--main-bg);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* NAVIGATION */
nav {
  font-family: var(--nav-font);
  text-transform: uppercase;
  border-bottom: 3.5px solid black;
  transition: all 275ms ease;
}

nav a:hover {
  background-image: linear-gradient(var(--third), var(--third));
  background-size: 100% 40%;
  background-position: center bottom 2%;
  background-repeat: no-repeat;
  display: inline-block;
}

/* LANDING PAGE */
#landing-page {
  height: 100vh;
}

#landing-page h1 {
  font-family: var(--header-font);
  color: var(--second);
  font-size: 70px;
  width: 1;
  position: absolute;
  bottom: 0;
}

/* ABOUT and CONTACT*/
/* headshot */
#about-article svg {
  box-shadow: -15px 10px var(--third);
}

#about {
  background-color: var(--accent-bg);
}

#about-article {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#about-article ul {
  padding-left: 0;
}

#about-article .card {
  min-width: fit-content;
}

#bio {
  width: 50%;
  margin: 20px;
}

.card h3 {
  padding-bottom: 0;
}

/* SKILLS HEADERS */
#skills h4 {
  text-transform: uppercase;
  font-size: 30px;
}

/* SKILLS CARDS */
#skills .card {
  width: 100px;
  align-items: center;
  border: none;
  margin: 10px;
  float: left;
}

#skills .card-title {
  text-align: center;
}

/* ICONS */
#skills i {
  color: var(--third);
  font-size: 50px;
}

/* PORTFOLIO */
#portfolio {
  height: fit-content;
  background: var(--accent-bg);
}

#portfolio .card {
  justify-content: flex-end;
  height: 100%;
}

#portfolio .card-body {
  flex: 0;
}

#portfolio .card-footer {
  justify-content: space-evenly;
  display: flex;
}

#portfolio .btn-dark {
  background-color: transparent;
  border-radius: 0;
  color: black;
  border: 1px solid black;
}

#portfolio .btn-dark:hover {
  background-color: var(--third);
}

/* CONTACT */
#contact {
  padding: 10px;
  border-radius: 0%;
  border: 1px dashed black;
}

#contact h3 {
  text-align: center;
}