[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --link-color: black;
}

body,
.card {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
}

i {
  color: var(--font-color) !important;
}

a,
.nav-link,
a:active,
a:hover {
  color: var(--link-color);
}
.card {
  border-color: var(--font-color);
}
