/* default */
:root {
  --font-color: #333;
  --background-color: #eee;
  --i-color: black;
}

/* dark mode */
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --i-color: #eee;
}

body,
.card {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
}

i,
a,
.nav-link,
a:active,
a:hover {
  color: var(--i-color) !important;
}

.card {
  border-color: var(--i-color);
}

.popover-header {
  color: black;
}
