/* [data-view="media"] .container {
  width: 100% !important;
  margin: 0 !important;
}

[data-view="media"] #window {
  height: 40vh;
  width: 93vw;
}

[data-view="media"] #webcam {
  clip-path: polygon(9% 6%, 62% 7%, 58% 56%, 43% 67%, 9% 61%, 9% 61%);
}

[data-view="media"] #laptop {
  display: none;
} */
